body{
  margin: 10px 0;
}
#navbar {
  position:fixed;
  min-width:290px;
  top:0px;
  left:0px;
  width: 300px;
  border-right: 1px #ddd solid;
  overflow: auto;
  height: 100%;
}
#navbar header {
  font-size: 30px;
  text-align: center;
}
#navbar ul {
  list-style: none;
  padding-left: 0px;
}
.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link li {
  border-top: 1px black solid;
  padding: 10px;
}

